<ul id="tehing-filter" class="dropdown-menu" uib-dropdown-menu role="menu">
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.sularaha=!vm.tehinguLiikFilter.sularaha">
    <a href><i class="fa fa-money filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.sularaha"></span> Sularaha</a>
  </li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.arvelRaha=!vm.tehinguLiikFilter.arvelRaha">
    <a href><i class="fa fa-bank filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.arvelRaha"></span> Pangakonto </a>
  </li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.liige=!vm.tehinguLiikFilter.liige">
    <a href><i class="fa fa-male filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.liige"></span> Liige</a>
  </li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.toode=!vm.tehinguLiikFilter.toode">
    <a href><i class="fa fa-qrcode filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.toode"></span> Toode</a>
  </li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.taara=!vm.tehinguLiikFilter.taara">
    <a href><i class="fa fa-recycle filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.taara"></span> Taara</a>
  </li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.tuhi=!vm.tehinguLiikFilter.tuhi">
    <a href><i class="fa fa-ban filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.tuhi"></span> Tühi hulk</a>
  </li>
  <li class="divider"></li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.kasumlik=!vm.tehinguLiikFilter.kasumlik">
    <a href><i class="fa fa-plus filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.kasumlik"></span> Kasumlik</a>
  </li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.neutraalne=!vm.tehinguLiikFilter.neutraalne">
    <a href><i class="fa fa-meh-o filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.neutraalne"></span> Neutraalne</a>
  </li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.kahjumlik=!vm.tehinguLiikFilter.kahjumlik">
    <a href><i class="fa fa-minus filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.kahjumlik"></span> Kahjumlik</a>
  </li>
  <li class="divider"></li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.susteem=!vm.tehinguLiikFilter.susteem">
    <a href><i class="fa fa-laptop filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.susteem"></span> Süsteemi parandus</a>
  </li>
  <li role="menuitem" ng-click="vm.tehinguLiikFilter.revisjon=!vm.tehinguLiikFilter.revisjon">
    <a href><i class="fa fa-legal filter-icon"></i><span class="fa fa-check" ng-show="vm.tehinguLiikFilter.revisjon"></span> Revisjoni parandus</a>
  </li>
</ul>