<div class="row">
  <!-- Otsing -->
  <div class="col-md-8 col-sm-6 form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="fa fa-search"></i></div>
      <input ng-model="otsing" type="search" placeholder="Otsi liiget" class="form-control">
    </div>
  </div>

  <!-- Filtreerimine -->
  <div class="col-xs-6 col-sm-3 col-md-2 form-group">
    <div class="btn-group btn-block" uib-dropdown auto-close="outsideClick" keyboard-nav="true">
      <button class="btn btn-info btn-block" type="button" uib-dropdown-toggle>
        <i class="fa fa-filter"></i> Filtreeri <i class="caret"></i>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu template-url="app/components/liikmed/filter.html" role="menu"></ul>
    </div>
  </div>

  <!-- Liikme lisamine -->
  <div class="col-xs-6 col-sm-3 col-md-2 form-group">
    <label type="button" class="btn btn-success btn-block" ng-click="vm.lisaLiige()"><i class="fa fa-user-plus"></i> Uus liige</label>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table st-table="liikmedDisplay" st-safe-src="vm.liikmed" class="table table-bordered table-hover">
      <thead>
        <tr>
          <th st-sort="nimi" st-sort-default="true" class="clickable">
            Nimi
            <span class="fa fa-sort-amount-desc"></span>
            <span class="fa fa-sort-amount-asc"></span>
            <span class="fa fa-sort"></span>
          </th>
          <th st-sort="saldo" class="clickable">
            Saldo
            <span class="fa fa-sort-amount-desc"></span>
            <span class="fa fa-sort-amount-asc"></span>
            <span class="fa fa-sort"></span>
          </th>
          <th class="liikmed-tegevused">
            Tegevused
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="liige in liikmedDisplay | filter:otsing | liige:vm.filter track by liige.id" ng-class="vm.liikmeKlass(liige)">
          <td>{{liige.nimi}}</td>
          <td>{{liige.saldo | currency}}</td>
          <td>
            <button type="button" class="btn btn-success btn-sm" uib-tooltip="Ettemaks" ng-click="vm.ettemaks(liige.id)" ng-disabled="liige.arhiveeritud">
              <i class="fa fa-plus"></i>
            </button>
            <button type="button" class="btn btn-success btn-sm" uib-tooltip="Tarbimine" ng-click="vm.tarbimine(liige.id)" ng-disabled="liige.arhiveeritud">
              <i class="fa fa-shopping-cart"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm" uib-tooltip="Muuda" ng-click="vm.muuda(liige.id)">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm hidden-xxs" uib-tooltip="Kustuta" ng-click="vm.kustuta(liige.id)" ng-if="liige.kustutatav && !liige.arhiveeritud">
              <i class="fa fa-trash-o"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm hidden-xxs" uib-tooltip="Arhiveeri" ng-click="vm.arhiveeri(liige.id)" ng-if="!liige.kustutatav && !liige.arhiveeritud">
              <i class="fa fa-archive"></i>
            </button>
            <button type="button" class="btn btn-info btn-sm hidden-xxs" uib-tooltip="Võta kasutusse" ng-click="vm.ennista(liige.id)" ng-if="liige.arhiveeritud">
              <i class="fa fa-undo"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>