<form name="ettemaks_form" novalidate autocomplete="off">
  <div class="modal-header">
    <button type="button" class="close" ng-click="vm.loobu()"><span aria-hidden="true">&times;</span></button>
    <h3 class="modal-title">Ettemaksu lisamine</h3>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-xs-12">
          
          <div class="form-group" ng-class="{'has-error': ettemaks_form.nimi.$invalid && ettemaks_form.nimi.$touched, 'has-success': ettemaks_form.nimi.$valid && ettemaks_form.nimi.$touched}">
            <label>Liige</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
              <input type="text" name="nimi" ng-model="vm.tehing.kreedit.liige" class="form-control" tabindex="-1" ng-readonly="vm.liigeReadonly" focus-if="!vm.liigeReadonly" uib-typeahead="liige as liige.nimi for liige in vm.liikmed | filter:{nimi:$viewValue} | limitTo:8" typeahead-editable="false" typeahead-select-on-blur="true" typeahead-template-url="app/components/liikmed/typeaheadTemplate.html" required>
            </div>
          </div>

          <div class="form-group" ng-class="{'has-error': ettemaks_form.summa.$invalid && ettemaks_form.summa.$dirty, 'has-success': ettemaks_form.summa.$valid && ettemaks_form.summa.$touched}">
            <label>
              Summa
              <span class="help-block help-block-inline" ng-show="ettemaks_form.summa.$viewValue < 0"><small>Negatiivne summa tähendab ettemaksu tagastamist.</small></span>
            </label>
            <div class="input-group">
              <div class="input-group-addon"><i class="fa fa-euro fa-fw"></i></div>
              <!-- Pattern ei luba -->
              <input type="number" pattern="-?[0-9]*(\.[0-9]{1,2}0*)?" prohibit-zero name="summa" ng-model="vm.tehing.deebet.summa" ng-change="vm.syncSumma()" class="form-control" placeholder="18.84" required focus-if="vm.liigeReadonly">
            </div>
            <div class="control-label" ng-messages="ettemaks_form.summa.$error" ng-show="ettemaks_form.summa.$dirty" role="alert">
              <p ng-message="required">Summa peab olema määratud!</p>
              <p ng-message="number">See ei ole legaalne number! <small>Kasuta koma asemel punkti.</small></p>
              <p ng-message="zero">Summa ei või olla null!</p>
              <p ng-message="pattern">Summa ei või olla täpsem kui kaks komakohta!</p>
            </div>
          </div>

          <div class="form-group">
            <label>Makseviis</label>
            <br>
            <label class="radio-inline">
              <input type="radio" name="makseviis" ng-model="vm.tehing.deebet.tuup" value="arvelRaha" required> Ülekandega
            </label>
            <label class="radio-inline">
              <input type="radio" name="makseviis" ng-model="vm.tehing.deebet.tuup" value="sularaha" required> Sularahaga
            </label>
          </div>

        </div>      
      </div>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col-xs-6">
        <button class="btn btn-default btn-block" type="button" ng-click="vm.loobu()">
          <span class="fa fa-ban"></span> Loobu
        </button>
      </div>
      <div class="col-xs-6">
        <button class="btn btn-success btn-block" type="submit" ng-click="vm.kinnita()" ng-disabled="ettemaks_form.$invalid">
          <span class="fa fa-save"></span> Kinnita
        </button>
      </div>
    </div>
  </div>
</form>